* {
    box-sizing: border-box;
}

body {
    background-color: #C4D1D2; 
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-top: 2rem;
}
html {
    height: 100%;
}

/* Nav */

.navbar-brand {
    font-size: 1.5rem;
}

nav li {
    margin: 0 1rem;
}

.nav-link:hover { 
    border-bottom: .6rem solid #a8bdc0; 
    transition: .25s ease-out;
}

/* Home Page */

.welcome-header h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;;
}

.welcome-header h2 {
        color: white;
        text-align: center;
        font-size: 30px;
}

.home p {
    padding: 5rem;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.home button { 
    color:#3c6e71;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-image {
    width: 50%; 
    height: auto;
    display: block;
    margin: auto;
  }

/* Checklist */ 

.card {
    background-color: #E1EBED; 
    padding: .5rem;
    margin: 4rem;  
}

.card-body{
    margin: 2rem;
    text-align: left;
}

.upload {
    margin-bottom: 2rem;
}

.checklist {
    margin: 1rem;
}

.checkbox input {
    text-align: left;
}

.card img {
    margin: 2rem;
    padding: 1rem;
}

p.checkbox input {
    padding: 5rem;
    width: 10%;
    padding: 0;
}

/* Job Log */

.job-track {
    text-align: center;
    padding-top: 6rem;
}
.job-track h2 { 
    margin-top: 4rem;
}
.boxed {
    border: 3px solid white;
    box-sizing: content-box;
    background-color: #3c6e71;
    height: 10rem;
    padding: 40px;
}

.boxed, .text { 
    color: white;
}
.submit-job, input{ 
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.submit-job, .submit-button { 
    margin-top: 20px;
}
.add-job-header, .login-head, .centered{
    text-align: center;
}

.dashboard { 
    background-image: url(../public/websiteimg/dashboard.png);
    background-size: cover;
}

/* Login */

.login-button {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;

}
.form-link {
    color: #3c6e71;
}

/* Dashboard */ 
.filter-container {
    margin: 1rem 4rem;
}

/* About */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.bio-container {
    margin: 1em;
    justify-content: space-evenly;
}

.bio-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    width: 75%;
    background-color: #e9f0f2; 
}

.bio-card img {
    height: 20em;
    width: 100%;
    flex-shrink: 1;
    object-fit: cover;
    border: 10px solid #e9f0f2;
}

.bio-text, .why-text {
    text-align: center;
    margin: auto;
}

.bio-text {
    padding: .5rem;
}

.why-text p {
    margin: 2rem;
}

/* Dashboard */

table {
    background: #e9f0f2;
    width: 90%;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #a8bdc0; 
  }

/* Footer */

footer {
    margin: 1rem;
}

select {
    margin: .5rem;
}

/* Media */ 

@media (min-width: 576px) {
    .home {
        background-size: cover;
    }

    .bio-card {
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    .bio-card img {
        height: 54rem;
    }

}

@media (min-width: 768px) {
    .home {
        background-size: contain;
    }
    .bio-card {
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .bio-card img {
        height: 20rem;
    }
}

@media (min-width: 992px) {
    .home {
        background-size: cover;
    }

    .bio-card {
        width: 100%
    }

    .bio-container {
        display: flex;
        flex-direction: row;
    }

}

@media (min-width: 1200px) {
    .home {
        background-size: contain;
    }
    .bio-container {
        display: flex;
        flex-direction: row;
    }
}
.data-views { 
    max-height: 800px;
    max-width: 1300px;
}