body {
    background-color: #C6D6C7;
    color: #464A46;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav */

.banner {
    padding: .5rem;
    background-color: #A2BDA6;
    color: #E7F0E7; 
}

.banner h1 {
    display: inline;
}

nav ul {
    margin-right: 2rem;
    text-align:right;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: #464A46;
    text-decoration: none;
}

nav a:hover { 
    border-bottom: .5rem solid #E7F0E7; 
    transition: .25s ease-out;
}

/* Checklist Page */

.card {
    background-color: #E7F0E7; 
    padding: 1rem;
    margin: 4rem;  
}

.card-body{
    margin: 1rem;
    text-align: left;
}

.checklist {
    margin: 2rem;
}


.accent {
    color: #8A6742;
}

.text {
    color: #2d2d2d;
}

#title {
    text-align: left;
}

#logo {
    width: 80px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.home {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 15px;
    background-image: url(../websiteimg/homescreen.jpg);
    opacity: .90;
    background-position: 0;
    background-size: cover;
    margin-top: -1rem;
    padding: 5rem;
}

.login-btn {
    background-color: tan;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
}

.login-text {
    color: black;
}


@media (min-width: 598px) {
    .home {
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .home {
        background-size: contain;
    }
}

@media (min-width: 992px) {
    .home {
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    .home {
        background-size: contain;
    }
}