body {
    background-color: #fffbf0;
}


.banner {
    background-color: #BBDFB6;
}

.accent {
    color: #8A6742;
}

.text {
    color: #2d2d2d;
}

#title {
    text-align: left;
}

#logo {
    width: 80px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.home {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 15px;
    background-image: url(../websiteimg/homescreen.jpg);
    opacity: .90;
    background-position: 0;
    background-size: cover;
    margin-top: -1rem;
    padding: 5rem;
}

.login-btn {
    background-color: tan;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
}

.login-text {
    color: black;
}

@media (min-width: 598px) {
    .home {
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .home {
        background-size: contain;
    }
}

@media (min-width: 992px) {
    .home {
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    .home {
        background-size: contain;
    }
}