* {
    box-sizing: border-box;
}
body {
    background-color: #C4D1D2; 
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 2rem;
}
html {
    height: 100%;
}

/* Nav */

.banner {
    background-color: #3c6e71;
    padding: 10px;
}

.navbar {
    background-color: #e9f0f2; 
}

.navbar-brand {
    font-size: 1.5rem;
    color: #353737;
}

nav li {
    margin: 0 1rem;
}

.nav-link:hover { 
    border-bottom: .6rem solid #a8bdc0; 
    transition: .25s ease-out;
}

/* Home Page */

.home {
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 15px;
    background-image: url(../websiteimg/homescreen.jpg);
    opacity: .90;
    background-position: 0;
    background-size: cover;
    margin-top: 1rem;
    padding: 5rem;
}

.login-text {
    color: black;
}

/* Checklist */ 

.card {
    background-color: #E1EBED; 
    padding: .5rem;
    margin: 4rem;  
}

.card-body{
    margin: 2rem;
    text-align: left;
}

.upload {
    margin-bottom: 2rem;
}

.checklist {
    margin: 1rem;
}

.checkbox input {
    text-align: left;
}

.card img {
    margin: 2rem;
    padding: 1rem;
}

p.checkbox input {
    padding: 5rem;
    width: 10%;
    padding: 0;
}

/* Job Log */

.job-track {
    text-align: center;
    padding-top: 6rem;
}
.job-track h2 { 
    margin-top: 4rem;
}
.boxed {
    border: 3px solid white;
    box-sizing: content-box;
    background-color: #3c6e71;
    height: 10rem;
    padding: 40px;
}

.boxed, .text { 
    color: white;
}
.submit-job, input{ 
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.submit-job, .submit-button { 
    margin-top: 20px;
}
.add-job-header, .login-head, .centered{
    text-align: center;
}

.dashboard { 
    background-image: url(../websiteimg/dashboard.png);
    background-size: cover;
}

/* Login */

.login-button {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;

}
.form-link {
    color: #3c6e71;
}

@media (min-width: 598px) {
    .home {
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .home {
        background-size: contain;
    }
}

@media (min-width: 992px) {
    .home {
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    .home {
        background-size: contain;
    }
}
.data-views { 
    max-height: 800px;
    max-width: 1300px;
}

/* About */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin: 0;
}

.bio-container {
    display: flex;
    flex-direction: row;
    margin: 2em;
    flex-shrink: 1;
    justify-content: space-evenly;
}
.bio-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
}

.bio-card img {
    display: block;
    width: auto;
    height: 20em;
    flex-shrink: 1;
}


.bio-text, .why-text {
    display: block;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    flex-shrink: 0;
}

.why-text {
    margin: 2rem;
}